@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
	word-wrap: break-word;
}
body, section, header, footer{
	margin: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
/*NAVIGATION*/
nav.top-navigation{
	width: 100%;
    position: fixed;
}
#index{
    visibility: hidden;
}
nav.top-navigation ul img{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 40px;
    top: -25px;
}

nav.top-navigation ul{
	background: #000000;	
	text-align: center;
	padding: 10;
	margin: 0;
}
nav.top-navigation ul li{
	list-style: none;
	display: inline-block;
	padding: 5px;
    margin: 10px;
    color: white;
}
nav.top-navigation ul li a{
	color: white;
	text-decoration: none;
}
nav.top-navigation ul li a:hover{
	color: #d52027;
}
nav.top-navigation ul li a.selected{
	color: #d52027;
}
#phone{
    position: absolute;
    right: 120px;
}
#icon:hover, #phone:hover{
    color: red;
    cursor: pointer;
}
/*END NAVIGATION*/

/*CONTAINER*/
#container{
    padding: 50px;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

#container #uslugi h1{
    color: red;
    font-size: 30px;
}
/*FOOTER*/
footer{
	background: #080820;
	color: white;
    text-align: center;
    width: 100%;
    position: static;
    
}
