@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


*{
	word-wrap: break-word;
}
/*BODY*/

body, section, header, footer{
	margin: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
    width: 100%;
}
/*NAVIGATION*/

nav.top-navigation{
	width: 100%;
}
.site-header{
	background: url('img/header-van.jpg');
    background-position: center;
	background-size: auto;
    background-repeat: no-repeat;
    min-height: 600px;
}
nav.top-navigation ul img{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 40px;
    top: -25px;
}

nav.top-navigation ul{
	background: #000000;	
	text-align: center;
	padding: 10;
	margin: 0;
}
nav.top-navigation ul li{
	list-style: none;
	display: inline-block;
	padding: 5px;
    margin: 10px;
    color: white;
}
nav.top-navigation ul li a{
	color: white;
	text-decoration: none;
}
nav.top-navigation ul li a:hover{
	color: #d52027;
}
nav.top-navigation ul li a.selected{
	color: #d52027;
}
#phone{
    position: absolute;
    right: 120px;
}
#icon{
    position: absolute;
    top: 17px;
    left: 1000px;
    width: 15px;
    height: 15px;
}
#icon:hover, #phone:hover{
    color: red;
    cursor: pointer;
}
/*SLIDER + BUTTON*/

section.slider{
	text-align: center;
}
section.slider h1{
	color: white;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px black;
	font-size: 3em;
	margin-top: 55px;
	font-weight: bold;
}
section.slider p{
	color: white;
	width: 300px;
	margin: 0 auto;
	padding: 10px;
	background: rgba(150, 150, 150, 0.4);
	text-shadow: 0px 0px 10px black;
	box-shadow: 0px 0px 5px 5px rgba(150, 150, 150, 0.4);
}
section.slider a{
	margin-top: 330px;
    margin-bottom: 10px;
	display: inline-block;
	color: white;
	background: #161616;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	border: 1px solid #333333;
	font-weight: bold;
	text-transform: uppercase;
}
section.slider a:hover{
	background: white;
	color: #d52027;
	border: none;
}
section.slider a .{
	color: #f5c686;
	padding: 5px;
}
section.slider a .fa-chevron-right{
    margin: 10px;
}
section.slider a .fa-chevron-right:hover{
	color: #333333;
	background: #f5c686;
}
/*MAIN CONTENT*/

section.industries{
	text-align: center;
	max-width: 1300px;
	margin: 0 auto;
}

.industries article{
	width: 350px;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
}
.industries hr{
    width: 80%;
}
.industries .icon{
	width: 45px;
	height: 45px;
	font-size: 2em;
	background: black;
	color: white;
	border-radius: 50%;
	line-height: 45px;
	float: left;
}
.industries article h2{
	text-align: left;
	margin-left: 64px;
	font-size: 1.2em;
}
.industries article p{
	text-align: left;
	margin-left: 65px;
}
.mission{
	text-align: center;
	padding: 20px;
	text-shadow: 0px 0px 1px black;
	background: linear-gradient(
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.7)),
	url('images/steel-bg.jpg');
	background-size: cover;
}
.mission h1{
	color: #d52027;
}
.benefits {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
	url('images/background-choose-us.jpg') no-repeat center;
    height: 300px;
    width: 100%;
	background-size: cover;
	text-align: center;
	color: white;
}
.benefits article{
	width: 300px;
	display: inline-block;
	margin: 10px;
    margin-top: 20px;
    padding: 20px;
    vertical-align: top;
}
.benefits article a{
	display: block;
	color: white;
	padding: 10px;
	text-decoration: none;
}
.benefits article a:hover{
	background: rgba(255, 255, 255, 0.5);
}
section.testimonials{
	background: url(images/consulting-woman.jpg);
	text-align: right;
	background-size: cover;
}

.partners{
	text-align: center;
	list-style: none;
}
.partners li{
	display: inline-block;
	vertical-align: middle;
}
/*FOOTER*/
.site-footer{
	background: #080820;
	color: white;
	text-align: center;
}
.site-footer .consulting p{
	margin-left: 30px;	
	text-align: left;	
}
.site-footer section{
	width: 300px;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
.site-footer .social-links a{
	text-decoration: none;
	color: white;
	background: rgba(255, 255, 255, 0.5);
	font-size: 2em;
	margin: 5px;
	display: inline-block;
	width: 40px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	padding: 3px;
}
.extra-links{
    margin-left: 100px;
    width: 300px;
}
.site-footer .extra-links .first-column{
	margin-left: 50px;
}
.extra-links div{
	display: inline-block;
	width: calc(50% - 40px);
	vertical-align: top;
}
.site-footer .extra-links a{
	color: #d52027;
	text-decoration: none;
	display: block;
	margin: 5px;
}
.site-footer .extra-links a:hover{
	color: white;
}
.site-footer .instagram-widget li{
	display: inline-block;
	
}
.site-footer .instagram-widget img{
	width: 70px;
	height: 70px;
}
.fa-facebook-f:hover{
    color: dodgerblue;
}
.fa-twitter:hover{
    color: skyblue;
}
.fa-linkedin-in:hover{
    color: cornflowerblue;
}
.fa-youtube:hover{
    color: red;
}
#copyright{
    background: #080820;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}